* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.925),
      rgba(241, 236, 236, 0.911)),
    url("imagen/variostiziany/fondoparedgris.jpg");
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  font-style: italic;
  font-weight: bolder;
  color: rgb(70, 170, 160);
  text-align: center;
}


h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;

}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;

}

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;

}

.letrab {
  color: black;

}
.letraw {
  color: white;

}
.letrad{
  color: red;
}

.cuerpo__categorias__links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.cuerpo__categorias__links li {
  background-color: rgb(70, 170, 160);
  border-radius: 05px;
  padding: 10px;
  font: 16px sans-serif;
  list-style-type: none;
}

.cuerpo__categorias__links li a {
  color: rgba(240, 248, 255, 0.993);
  font-weight: bold;
  font: 16px sans-serif;
  text-decoration: none;
}

.cuerpo__categorias__links li:hover {
  background-color: rgb(195, 191, 191, 0.87);
}

nav li:hover {
  background-color: rgba(195, 191, 191, 0.747);
  border-radius: 5%;
  font: 16px sans-serif;
}

/*
.tePuedeInteresar {
  font-style: italic;
  font-size: 0.7cm;

}
*/

.formulario {
  font-weight: bold;
  font: 0.4cm sans-serif;

}

.horarios {
  font-weight: bold;
  font: 0.4cm sans-serif;

}

.teEsperamos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0.5cm;

}

.formularioType {
  height: 3rem;
  width: 30rem;
}

.pagos {
  background-image: linear-gradient(to top, rgb(70, 158, 149), rgb(227, 236, 235));
  margin: 20px 0px 0px 0px;
}

.pagos img {
  margin: 05px 50px 05px 50px;
  border: 1px solid;
  color: rgb(109, 167, 161);
  border-radius: 5%;
}

.parrafoCard{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;

}

.card-text-muted {
  color: rgb(109, 167, 161);
}

.card-body {
  background-color: white;

}

.card-footer {
  background-color: rgb(70, 170, 160)
}
.card-body{
  background-color: rgb(70, 170, 160)

}

main {
  margin: 1rem 0rem 2rem 0rem;

}

footer {
  text-align: center;

}

.footer-contacto {
  margin-top: 3rem;

}

.nav2 {
  margin: 10px
}

.card-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;

}

.cabecera__links {
  grid-area: barra;
  background-color: rgb(70, 170, 160);
  color: aliceblue;
  grid-area: barra;
}

.cabecera__links ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  width: auto;
  justify-content: space-around;
  list-style-type: none;
}

.cabecera__links ul li {
  padding: 10px;

}

.cabecera__links ul li a {
  text-decoration: none;
  color: aliceblue;
}

.cabecera__links li:hover {
  background-color: dimgrey;
  border-radius: 5px;
}

.carousel-inner{
height: 8cm;
margin-bottom: 2%;
}







/*
.cuerpo {
  display: grid;
  grid-template-areas:
    "logo cabecera cabecera"
    "barra barra barra"
    "producto producto producto"
    "producto producto producto"
    "pieDePagina pieDePagina pieDePagina";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: repeat (5, 1fr);
  column-gap: 10px;
  row-gap: 10px;

}

header {
  grid-area: cabecera;
  text-align: center;
}

.logositio {
  grid-area: logo;
}

.cabecera1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

main {
  grid-area: producto;

}

.producto__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto__img img {
  padding-top: 10px;

}














.caja {
  display: flex;
  flex-direction: column;
  gap: 0.3cm;
  flex: 1 1 clamp(300px, 30%, 400px)
}

.caja__info {
  display: flex;
  flex-direction: column;
  padding: 6rem;

}

.caja__titulo {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: black;


}

.caja__subtitulo {
  margin-top: 06rem;
  color: brown;
  font-size: medium;


}

.caja__texto {
  margin-top: 06rem;
  font-size: medium;
  color: blue;
}

*/



@media screen and (max-width: 489px) {

  /*
  .cuerpo {
    grid-template-areas:
      "logo "
      "barra "
      "producto"
      "producto"
      "pieDePagina";
    grid-template-columns: 1fr;
    grid-template-rows: repeat (5, 1fr);
    column-gap: 0px;
    row-gap: 0px;



  }

  .cabecera__links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .cabecera1 {
    display: none;

  }


*/
  .producto__img img {
    width: 200px;
    height: 300px;

  }


  .pagos img {
    margin: 0%;
  }


/*

  @media screem and (min-width 420 px)and (max-width 768pc) {

    
  .cuerpo {
    grid-template-areas:
      "logo cabecera"
      "barra barra"
      "producto producto"
      "producto producto"
      "pieDePagina pieDePagina";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (5, 1fr);
    column-gap: 0px;
    row-gap: 0px;
  }

    .pieDePagina iframe {
      display: none;
    }

    .cabecera1 h3 {
      display: none;

    }

  }*/