.parrafoCard {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

}

.card-text-muted {
    color: rgb(109, 167, 161);
}

.card-body {
    background-color: white;

}

.card-footer {
    background-color: rgb(70, 170, 160)
}

.card-body {
    background-color: rgb(70, 170, 160)
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

}
