.card-text-muted {
    color: $gradienteverde;
}

.card-body {
    background-color: $letraw;

}

.card-footer {
    background-color: $gradienteverde;
}

.card-body {
    background-color: $gradienteverde;
}

.card-text {
    font-family:$tipodeletra1;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

}
.parrafoCard {
    font-family: $tipodeletra1;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

}