$gradienteverde: rgb(70, 170, 160);
$gradienteblanco: rgb(227, 236, 235);
$letrad: red;
$letraw: white;
$letrab:  black;
$colorhover: rgba(195, 191, 191, 0.747);
$tipodeletra1: ('Times New Roman', Times, serif);
$tipodeletrafooter: sans-serif;


