%tituloh1h2 {
    font-family: map-get($letra , tipodeletras);
    font-size: 5rem;
    color: map-get($colores , gradienteverde );
    font-size: 3rem;
    color: map-get($colores , letraw );
    text-align: center;

}