.pagos {
    background-image: linear-gradient(to top, rgb(70, 158, 149), rgb(227, 236, 235));

}

.pagos img {
    border: 1px solid;
    color: rgb(109, 167, 161);
    border-radius: 5%;
}

.contacto {
    margin-top: 2px 0px 1px 0px;

}