.pagos {
    background-image: linear-gradient(to top, $gradienteverde, $gradienteblanco);

}

.pagos {

    img {
        border: 1px solid;
        color: map-get($colores, gradienteverde);
        border-radius: 5px;
    }
}

.contacto {
    margin-top: 2px 0px 1px 0px;

}