.formulario {
    font-size: 0.4cm;
    font-family: map-get($letra, tipodeletras);
    color: map-get($colores ,letraw );
}

.horarios {
    font-size: 0.4cm;
    font-family: map-get($letra, tipodeletrafooter);
    color: map-get($colores ,letraw );
}

.formularioType {
    height: 3rem;
    width: 30rem;
    color: map-get($colores, letraw);
}