h3 {
    font-family:  map-get($tipodeletra , tipodeletra );
    font-size: 2rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color:$letraw;
}

h4 {
    font-family: $tipodeletra1;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color: $letraw;
}

h5 {
    font-family: $tipodeletra1;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color: $letraw;
}
    
.mimate {
    margin-bottom: 1%;
    margin-top: 1%;
  
}
.letrab {
    color: $letrab;

}

.letraw {
    color: $letraw;

}

.letrad {
    color: $letrad;
}

.letrag {
    color: $gradienteverde;
}
