h3 {
    font-family: map-get($letra , tipodeletras);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: map-get($colores , letraw);
}

h4 {
    font-family: map-get($letra , tipodeletras);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: map-get($colores , letraw);
}

h5 {
    font-family: map-get($letra , tipodeletras);
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: map-get($colores , letraw);
}

.mimate {
    font-family: map-get($letra , tipodeletras);
    margin-bottom: 1%;
    margin-top: 1%;
    color: rgb(70, 170, 160);
    font-size: 3rem;
}

.letrab {
    color: map-get($colores , letrab);

}

.letraw {
    color: map-get($colores , letraw);

}

.letrad {
    color: map-get($colores , letrad);
}

.letrag {
    color: map-get($colores , gradienteverde);
}

.card-text-index {
    font-family: 'Times New Roman', Times, serif;
    color: map-get($colores , letrad);
    font-size: 2rem;


}

.card-text-parrafo{

    font-family: map-get($letra , tipodeletras);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: map-get($colores , letraw);


}