.carousel-inner {
    width: 90%;
    text-align: center;
    margin: auto;

    img {
        width: 100%;
        text-align: center;
        max-height: 90vh;
        margin: auto;

    }
}

.containerMainCarrusel {
    button {

        width: 15%;
        text-align: center;
        margin: auto;

    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
    background-color: black;
}

.containerMainGaleria {


    img {
        transition: all 1s;

        &:hover {
            transform: scale(1.5, 1.5);
            cursor: pointer;
        }
    }
}