.carousel-inner {
    width: 100%;
    text-align: center;
    margin: auto;

    img {
        width: 80%;
        text-align: center;
        max-height: 120vh;
        margin: auto;

    }
}

.containerMainGaleria {
    img {
        transition: all 1s;

        &:hover {
            transform: scale(1.5, 1.5);
            cursor: pointer;
           
        }
    }
}

.containerMainDescuentos {
    .col {
        overflow: initial;
       
        .card {
            transition: all 1s;
            
            &:hover {
                transform: scale(1.1, 1.1);
                cursor: pointer;
                             
            }
        }
    }
}