.carousel-inner {
    width: 80%;
    text-align: center;
    margin: auto;

    img {
        width: 100%;
        text-align: center;
        max-height: 80vh;
        margin: auto;
        
    }
}

.containerMainCarrusel {
    button {

        width: 27%;
        text-align: center;
        margin: auto;

    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: map-get($colores , gradienteverde) ;
    background-color: map-get($colores , gradienteverde ) ;
}

.containerMainGaleria {
    img {
        transition: all 1s;

        &:hover {
            transform: scale(1.5, 1.5);
            cursor: pointer;
        }
    }
}

.containerMainDescuentos {
    .col{
        overflow: hidden;
   
    .card {
        transition: all 1s;

        &:hover {
            transform: scale(1.1, 1.1);
            cursor: pointer;
        }
    }
}
}

