$colores: (
    gradienteverde: rgb(70, 170, 160),
    gradienteblanco: rgb(227, 236, 235),
    letrad: red,
    letraw: white,
    letrab: black,
    colorhover: rgba(151, 150, 150, 0.558),

);

$letra: (
    tipodeletras: (Georgia, 'Times New Roman', Times, serif),
    tipodeletrafooter: sans-serif,
);