@media screen and (max-width:319px) {

    .positionfixed,
    .tituloh1,
    .tituloh2 {
        display: none;
    }

    .containerMainGaleria {
        img {
            transition: all 1s;
            display: none;
            &:hover {
                transform: scale(1.5, 1.5);
                cursor: pointer;
                display: none;

            }
        }
    }


}






@media screen and (min-width:320px) and(max-width: 1200px) {

    .positionfixed,
    {
    display: none;
}

.containerMainGaleria {
    img {
        transition: all 1s;
        display: none;
        &:hover {
            transform: scale(1.5, 1.5);
            cursor: pointer;
            display: none;
        }


    }

}





}