@mixin boton($backColor, $colorText) {
    padding: 10px;
    border-radius: 05px;
    color: $colorText;
    background-color: $backColor;
    border: 1px solid white;
    width: auto;
    font-size: 1.5rem;
}

@mixin boton2($backColor, $colorText) {
    padding: 10px;
    border-radius: 05px;
    background-color: $backColor;
    color: $colorText;
    border: 1px solid white;
    width: 5px;
    margin-left: 1px;
    margin-right: 1px;
    
}

@mixin boton3($backColor, $colorText) {
    padding: 5px;
    border-radius: 05px;
    background-color: $backColor;
    color: $colorText;
    border: 1px solid white;
    width: 5px;
    margin-left: 1px;
    margin-right: 1px;
    
}