* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.cuerpo {
    background:
        url("../imagen/variostiziany/fondo\ negro\ y\ gris.jpg");

}

nav {
    li {

        a {

            &:hover {
                border-radius: 05px;
                background-color: map-get($colores , colorhover);
                transition: all 0.5s;
                border-bottom: solid  white;
            }
        }

    }
}