.tituloh1 {
    @extend %tituloh1h2;
    font-size: 5rem;
    color: map-get($colores, gradienteverde);
}

.tituloh2 {
    @extend %tituloh1h2;
    font-size: 3rem;   
    color: map-get($colores ,letraw );
}