.tituloh2, .tituloh1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5rem;
  color: rgb(70, 170, 160);
  font-size: 3rem;
  color: white;
  text-align: center;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.mimate {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1%;
  margin-top: 1%;
  color: rgb(70, 170, 160);
  font-size: 3rem;
}

.letrab {
  color: black;
}

.letraw {
  color: white;
}

.letrad {
  color: red;
}

.letrag {
  color: rgb(70, 170, 160);
}

.card-text-index {
  font-family: "Times New Roman", Times, serif;
  color: red;
  font-size: 2rem;
}

.card-text-parrafo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cuerpo {
  background: url("../imagen/variostiziany/fondo negro y gris.jpg");
}

nav li a:hover {
  border-radius: 5px;
  background-color: rgba(151, 150, 150, 0.558);
  transition: all 0.5s;
  border-bottom: solid white;
}

.card-text-muted {
  color: rgb(70, 170, 160);
}

.card-body {
  background-color: white;
}

.card-footer {
  background-color: rgb(70, 170, 160);
}

.card-body {
  background-color: rgb(70, 170, 160);
}

.card-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.parrafoCard {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.formulario {
  font-size: 0.4cm;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.horarios {
  font-size: 0.4cm;
  font-family: sans-serif;
  color: white;
}

.formularioType {
  height: 3rem;
  width: 30rem;
  color: white;
}

.carousel-inner {
  width: 100%;
  text-align: center;
  margin: auto;
}
.carousel-inner img {
  width: 80%;
  text-align: center;
  max-height: 120vh;
  margin: auto;
}

.containerMainCarrusel button {
  width: 27%;
  text-align: center;
  margin: auto;
}

.containerMainGaleria img {
  transition: all 1s;
}
.containerMainGaleria img:hover {
  transform: scale(1.5, 1.5);
  cursor: pointer;
}

.containerMainDescuentos .col {
  overflow: hidden;
}
.containerMainDescuentos .col .card {
  transition: all 1s;
}
.containerMainDescuentos .col .card:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.containerMainloQueViene {
  margin-top: 0rem;
}

.pagos {
  background-image: linear-gradient(to top, rgb(70, 170, 160), rgb(227, 236, 235));
}

.pagos img {
  border: 1px solid;
  color: rgb(70, 170, 160);
  border-radius: 5px;
}

.contacto {
  margin-top: 2px 0px 1px 0px;
}

.footerHover img {
  transition: all 1s;
}
.footerHover img:hover {
  transform: scale(1.5, 1.5);
  cursor: pointer;
}

.tituloh1 {
  font-size: 5rem;
  color: rgb(70, 170, 160);
}

.tituloh2 {
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 420px) {
  .positionfixed,
.tituloh1,
.tituloh2 {
    display: none;
  }
  .containerMainGaleria img {
    transition: all 1s;
    display: none;
  }
  .containerMainGaleria img:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer;
    display: none;
  }
}
@media screen and (min-width: 421px) and (max-width: 1200px) {
  .positionfixed {
    display: none;
  }
  .containerMainGaleria img {
    transition: all 1s;
    display: none;
  }
  .containerMainGaleria img:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer;
    display: none;
  }
}
.botonContacto {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(70, 170, 160);
  border: 1px solid white;
  width: auto;
  font-size: 1.5rem;
}

.boton2 {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgba(23, 104, 96, 0.493);
  border: 1px solid white;
  width: auto;
  font-size: 1.5rem;
}/*# sourceMappingURL=stylo.css.map */